<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Easy Eats"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectMC"
        tools:targetApi="31">
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeMapo"
            android:exported="false" />
        <activity
            android:name=".RecipeKungpao"
            android:exported="false" />
        <activity
            android:name=".RecipeRisotto"
            android:exported="false" />
        <activity
            android:name=".RecipeCaprese"
            android:exported="false" />
        <activity
            android:name=".RecipeArtichokes"
            android:exported="false" />
        <activity
            android:name=".RecipeShakshuka"
            android:exported="false" />
        <activity
            android:name=".RecipeSinigang"
            android:exported="false" />
        <activity
            android:name=".RecipeAdobo"
            android:exported="false" />
        <activity
            android:name=".CuisineMidEast"
            android:exported="true" />
        <activity
            android:name=".CuisineItalian"
            android:exported="true" />
        <activity
            android:name=".CuisineFilipino"
            android:exported="true" />
        <activity
            android:name=".CuisineChinese"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".MainFragment" />
        <activity android:name=".RecipeFragment" />
        <activity android:name=".MapFragment" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />
    </application>

</manifest>